doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title assan - Real Estate
    // Bootstrap
    link(href='bootstrap.min.css', rel='stylesheet')
    // custom css
    link(href='real-estate.css', rel='stylesheet', type='text/css', media='screen')
    // font awesome for icons
    link(href='font-awesome.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,400italic,300italic,300,100italic,100', rel='stylesheet', type='text/css')
    // owl carousel css
    link(href='owl.carousel.css', rel='stylesheet', type='text/css', media='screen')
    link(href='owl.theme.css', rel='stylesheet', type='text/css', media='screen')
    // mega menu
    link(href='yamm.css', rel='stylesheet', type='text/css')
    link(href='select.css', rel='stylesheet', type='text/css')
    // Revolution slider css
    link(href='settings.css', rel='stylesheet', type='text/css', media='screen')
    link(href='rev-style.css', rel='stylesheet', type='text/css', media='screen')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    .top-bar
      .container
        .row
          .col-sm-6.hidden-xs
            span.top-welcome Find you dream location
          .col-sm-6
            .top-social
              a(href=template.social.facebook)
                i.fa.fa-facebook
              a(href=template.social.twitter)
                i.fa.fa-twitter
              a(href=template.social.skype)
                i.fa.fa-skype
    .header-logo-bar
      .container
        .row
          .col-md-4.col-sm-7
            a.header-logo(href='index.html')
              span.header-icon
                i.fa.fa-home
              span.header-title=template.last_name
              // /.header-title
              span.header-slogan
                =template.tag
                br
                =template.title
              // /.header-slogan
          .col-md-5.col-lg-5.hidden-sm.hidden-xs

          .col-md-3.col-sm-5
            .contact-info-blocks.hidden-sm.hidden-xs
              div
                i.fa.fa-phone
                |  Call us
                span=template.phone
              div
                i.fa.fa-envelope
                |  Email Us
                span=template.email
    // Static navbar
    nav.navbar.navbar-inverse.navbar-static-top.sticky.yamm
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          // <a class="navbar-brand" href="index.html">Assan</a>
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li.dropdown.active
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true') Home
                =" "
                i.fa.fa-angle-down
              ul.dropdown-menu
                li
                  a(href='index.html') Home - Slider
                li
                  a(href='real-estate-home-map.html') Home - Map
            li
              a(href='real-estate-about.html') About
            li
              a(href='real-estate-contact.html') Contact
        // /.nav-collapse
      // /.container
    // navigation end
    // rev slider start
    .forcefullwidth_wrapper_tp_banner(style="position:relative; width: '100%'; height: auto; margin-top: 0px; margin-bottom: 0px;")
      .fullwidthbanner
        .tp-banner
          ul
            // SLIDE
            for val in listings.slice(0,3)
              li(data-transition='fade', data-slotamount='5', data-masterspeed='1000', data-title='#{val.title}')
                // MAIN IMAGE
                img(src=val.primary_photo_url, alt='darkblurbg', data-bgfit='cover', data-bgposition='center center', data-bgrepeat='no-repeat')
                .caption.slider-title.sft(data-x='50', data-y='160', data-speed='1000', data-start='1000', data-easing='easeOutExpo')=val.title
                .caption.slider-text.sfl(data-x='50', data-y='214', data-speed='1000', data-start='1800', data-easing='easeOutExpo')
                  =val.address
                .caption.sfb.slider-price.tp-resizeme(data-x='50', data-y='258', data-speed='500', data-start='1800', data-easing='Sine.easeOut')=val.price
              // SLIDE
        // full width banner
      // revolution end
    .divide70(style="background-color: #32c5d2; height:5px;margin-bottom: 50px;")
    .container
      h2.title-section.clearfix
        | Here are my listings
      for row in rows
        .row
          for val in row
            .col-sm-6.col-md-3.margin30
              .property.clearfix
                .image
                  .content
                    a(href='#')
                      i.fa.fa-search-plus
                    img.img-responsive(src=val.primary_photo_url, alt='propety' style="height: 110px; width: 100%")
                    span.label-property Pending
                    span.label-price= "$" + val.price
                  // content
                // image
                .property-detail
                  h5.title
                    a(href='#')=val.title
                  span.location=val.city
                  .pull-left
                    p
                      b Area:
                      =" "
                      =val.sqft
                      sup 2
                  .pull-right
                    span
                      img(src='/images/bedrooms.png', alt='')
                      =val.nBed
                    span
                      img(src='/images/bath.png', alt='' style="width: 25px; height: 16px;")
                      =val.nBath
      .divide60
    // col-md-12
    .divide40
    .call-to-action
      .container
        .row
          .col-sm-8.text-center
            h3 Are you interested in any of our property listings?
          .col-sm-4.text-center
            a(href='#') This is the button for clients to show their interest in a property
    // call to action
    //
      .divide70
      .container
        .center-title
          h3 Testimonies
          p
            | Anna Lee is the Best!!
        .row
          for z in testimony
            .col-md-3.col-sm-6.margin30
              .agent-box
                img.img-circle.img-responsive(src=z.primary_photo, width='200', alt='')
                h3=z.name
                p=z.test
                a(href='#') View Profile
            // agent col
      // agents content
    footer.footer
      .container
        .row
          .col-md-3.col-sm-6.margin30
            h4 About us
            p=template.disclaimer
            // media
          .col-md-3.col-sm-6.margin30
          .col-md-3.col-sm-6.margin30
          .col-md-3.col-sm-6.margin30.text-right
            h4 Contact us
            p
              =template.first_name
              =" "
              =template.last_name
              br
              !=template.address.replace('\n', '<br>')
              br
              =template.phone
              br
              a(href='mailto:#{template.email}')=template.email
            br

    // footer
    .copyright
      .container.text-center
        span © Copyright 2015. All right reserved. Tesirol
    // scripts and plugins
    // must need plugin jquery
    script(src='jquery.min.js')
    script(src='jquery-migrate.min.js')

    // sticky header
    script(type='text/javascript', src='js/jquery.sticky.js')


    // revolution slider plugins
    script(src='jquery.themepunch.tools.min.js', type='text/javascript')
    script(src='jquery.themepunch.revolution.min.js', type='text/javascript')

    // customizable plugin edit according to your needs
    script(src='real-estate-custom.js', type='text/javascript')